baseURL = 'https://blog.endr.in/'
languageCode = 'en-us'
title = 'endr.in'

theme = "bulma"

publishDir = "/home/i/srv/hugo-blog-output"

[menu]
  [[menu.main]]
    name = "Home"
    pre = "home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "Posts"
    pre = "pen-tool"
    url = "/posts/"
    weight = 2
  [[menu.main]]
    name = "Tags"
    pre = "tag"
    url = "/tags/"
    weight = 3

[params]
  Descrption = "blog.endr.in is created with a view to keep my notes of various subjects in a personal server so that I can refer it to later on. The content here is aggregated from various sources and is used for educational purpose."